* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  background-image: url('./taxedu.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  
}
h1 {
  display: flex;
  margin: 0 auto 30px;
  text-align: center;
  color: white;
  justify-content: center;
}
.calculator-container {
  display: grid;
  background: rgb(56, 54, 54);
  height: 420px;
  width: 255px;
  margin: auto;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid black;
  gap: 10px;
  grid-template-columns: repeat(4,50px);
  grid-template-rows: minmax(90px, auto) repeat(5, 50px);

  button {
    cursor: pointer;
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 50%;
    outline: none;
    background-color: black;
    color: white;
    box-shadow: 0 0 2px white;

    &:hover {
      background-color: rgb(75, 45, 60);
    }
  }
  button.span-two {
    background-color: orange;
    color: black;
    border-radius: 50px;    

    &:hover {
      background-color: rgb(209, 128, 34);
      color: black;
    }
  }
  button.zero {
    background-color: black;
    color: white;
    &:hover {
      background-color: rgb(75, 45, 60);
      color: white;
    }
  }
  button.op{
    background-color: rgb(0, 110, 255);
    &:hover {
      background-color:skyblue;
    }
  }
  button.del{
   background-color:orange;
   color: black;
   &:hover {
     background-color:rgb(209, 128, 34);
   }
  }
}
.span-two {
  grid-column: span 2;
}
.output {
  grid-column: 1 /-1;
  background-color: white;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  border: 2px solid black;
  border-radius: 25px;
  word-wrap: break-word;
  word-break: break-all;

  .previous-operand {
    color: black;
    font-size: 1.5rem;
  }
  .current-operand {
    color: black;
    font-size: 2.5rem;
  }
}
